//------------------------------------------------------------------------------
// _colors.scss
//
// Color declarations.
//------------------------------------------------------------------------------

$background-color: #eee;
$header-color: #333;
$text-color: #777;

// Company colors
$twitter-color: #00aced;
$facebook-color: #3b5998;
$tumblr-color: #32506d;
$labs-color: #b2fb92;
$instagram-color: #517fa4;
$flickr-color: #ff0084;
$linkedin-color: #007bb6;
$lastfm-color: #d81102;
$github-color: #932343;
$foursquare-color: #0072b1;
$aboutme-color: goldenrod;
