//------------------------------------------------------------------------------
// _typography.scss
//
// Font imports and general typography config.
//------------------------------------------------------------------------------

// Font face
//------------------------------------------------------------------------------
$font-face-primary:   "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-face-secondary: "Georgia", serif;

// Font size
//------------------------------------------------------------------------------
$font-size-base: 1.4em;

// Line height
//------------------------------------------------------------------------------
$line-height-base: 1.8;
